---
/* 
  Formatting in this file has been ignored to remove trailing whitespace left by 
  the <address> tag. 
*/
---

<address class="email-address">
  <a href="mailto:admin@lysdestic.com" target="_blank" rel="noopener" aria-label="Email Lysdestic at admin@lysdestic.com">
    <slot>admin@lysdestic.com</slot></a></address>
