---
/* 
  Formatting in this file has been ignored to remove trailing whitespace left by 
  the <address> tag. 
*/
---

<address>
  <a href="mailto:admin@lysdestic.com" target="_blank" rel="noopener" aria-label="Send me an email">
    <slot /></a></address>

<style>
  address {
    display: inline;
    font-style: normal;
  }
</style>
