---
import Navigation from './Navigation.astro'
import { Image } from 'astro:assets'
import avatar from '../../assets/images/avatar.png'
// import { Icon } from 'astro-icon/components'
---

<header class="site-header">
    <nav class="site-header-nav">
        <!-- <a href="/">
      <Icon name="logo" aria-label="Go to homepage" />
      <span class="link-text">Homepage</span>
    </a> -->
        <a href="/" class="avatar-link site-header-link" aria-label="Go to homepage">
            <Image src={avatar} alt="Lysdestic home" width={64} height={64} loading="eager" />
        </a>
        <Navigation />
    </nav>
</header>
