---
const { link, text, class: className, ariaLabel } = Astro.props
---

<a href={link} target="_blank" rel="noopener" class={className} aria-label={ariaLabel}>
    <slot>{text}</slot>
</a>

<style>
    a {
        display: inline-block;
    }
</style>
