---
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <h1>D'oh!</h1>
  <center></center>
  <p><img src="assets/gifs/transparent-homer-bush.gif"><br /><br />
  There's nothing for you here, try going <a href="/">home.</a></p>
</Layout>