---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import Homer from '../assets/gifs/transparent-homer-bush.gif';
---

<Layout>
  <h1>D'oh!</h1>
  <p><Image src={Homer} alt="" /></p>
  <p>There's nothing for you here, try going <a href="/">home.</a></p>
</Layout>