---
import Layout from '../layouts/Layout.astro'
import Homer from '../../assets/gifs/transparent-homer-bush.gif'
---

<Layout>
  <h1>D'oh!</h1>
  <center></center>
  <p><img src={Homer}><br /><br />
  There's nothing for you here, try going <a href="/">home.</a></p>
</Layout>