---
import Layout from '../layouts/Layout.astro'
---

<Layout includeHeading subtitle="Blog">
    <section id="Blog">
    <p>Random musings from Lysdestic:</p>
    <ul>
        <li><a href="/posts/post-1/">First Post (Astro Tutorial)</a></li>
    </ul>
    </section>
</Layout>