---
import Layout from '../layouts/Layout.astro'
import LinkNewTab from '../components/astro/LinkNewTab.astro'
import Email from '../components/astro/Email.astro'
import { contactLinks } from '../data/contactLinks'

const { linkedIn, github } = contactLinks
---

<Layout includeHeading subtitle="Salutations">
    <section id="contact">
        <article class="gradient-container">
            You can reach me on
            <span class="role"><LinkNewTab {...linkedIn} /></span>, check out my
            open-source projects and contributions on
            <span class="role"><LinkNewTab {...github} /></span>, or email me
            any time at
            <span class="role"><Email>admin@lysdestic.com</Email></span>.
        </article>
    </section>
</Layout>
