---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Layout from '../../src/layouts/Layout.astro'
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />		
		<Layout>
		  <div class="gradient-container">
			<h1 class="intro">
			  <span class="heading-greeting">Howdy</span> I'm
			  <span class="heading-name">Lysdestic</span>
			</h1>
			<p>
			  I'm a 
			  <span class="role">bass player</span>
			  living in the 
			  <span class="role">Pacific Northwest</span>
			</p>
			<p>
			  I enjoy
			  <span class="role">music</span>, 
			  <span class="role">technology</span>, and
			  <span class="role">gaming</span>
			</p>
			<p>
			Hi. 🖖
			</p>
		  </div>
		</Layout>