---
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <div class="gradient-container">
    <h1 class="intro">
      <span class="heading-greeting">Howdy.</span> I'm
      <span class="heading-name">Lysdestic</span>
    </h1>
    <p>
      I'm a 
      <span class="role">bass player</span>,
      living in the 
      <span class="role">Pacific Northwest</span>
    </p>
    <p>
      I enjoy
      <span class="role">music</span>, 
      <span class="role">technology</span>, and
      <span class="role">gaming</span>. 
    </p>
    <p>
    Hi. 🖖
    </p>
  </div>
</Layout>

<style>
  @keyframes gradient {
    0% {
      background-position: 100% 50%;
    }
    50% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }

  .gradient-container {
    background: linear-gradient(320deg, hsl(300, 82%, 44%), hsl(300, 72%, 47%), hsl(271, 44%, 63%), hsl(202, 84%, 40%));
    background-size: 300% 200%;
    background-clip: text;
    animation: gradient 20s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--dark);
  }

  .heading-greeting {
    display: block;
  }

  .heading-name,
  .role {
    -webkit-text-fill-color: transparent;
  }

  @media screen and (min-width: 600px) {
    .intro {
      font-size: 8rem;
    }

    .heading-name,
    .role {
      font-weight: 800;
    }
  }

  @media (prefers-color-scheme: dark) {
    .gradient-container {
      -webkit-text-fill-color: var(--light);
    }
  }
</style>
