---
import Layout from '../layouts/Layout.astro'
import LinkNewTab from '../components/astro/LinkNewTab.astro'
import VideoPlayer from '../components/astro/VideoPlayer.astro'
import { mediaLinks } from '../data/mediaLinks'

const { theanxietiesbandcamp, gentsbandcamp, recreationspdx } = mediaLinks

const videos = [
    { id: '07ncTiDz4lQ', title: 'The Anxieties - Blank Stares' },
    {
        id: '144g4wT--Qo',
        title: 'Lexxi Vexx & the Modern Gentlemen - Big Shiny Bomb',
    },
    { id: 'OP8N9ExeUDE', title: 'Bad Year performs Green Day' },
    {
        id: '7tett8B5_7g',
        title: "Imperative Therapy Video: For What It's Worth",
    },
]
---

<Layout includeHeading subtitle="Music">
    <section id="media">
        <article class="gradient-container">
            <p>
                <span class="role"
                    ><LinkNewTab {...theanxietiesbandcamp} /></span
                ><br />
                Garage rockin' punk, mad scientist-core for the paranoid and suspicious.
            </p>
            <p>
                <span class="role"><LinkNewTab {...gentsbandcamp} /></span><br
                />
                Pacific Northwest garage-punk rock'n'roll.
            </p>
            <p>
                <span class="role"><LinkNewTab {...recreationspdx} /></span><br
                />
                Loud and Boozey PDX Americana with a punk heart.
            </p>
            <VideoPlayer videos={videos} />
        </article>
    </section>
</Layout>
