---
import Layout from '../layouts/Layout.astro'
import LinkNewTab from '../components/astro/LinkNewTab.astro'
import { mediaLinks } from '../data/mediaLinks'

const {theanxietiesbandcamp,  gentsbandcamp} = mediaLinks
---

<Layout includeHeading subtitle="Media">
  <section id="media">
    <article>
      <p>
        I've been playing in bands since I was 16 years old. Originally cutting my teeth in the Nashville music scene, I 
        eventually moved to Portland, OR and have been rocking the punk scene here since 2013. You can check out some 
        of my projects here: 
      </p>
      <p>
      <LinkNewTab {...theanxietiesbandcamp} /><br />
      Garage rockin' punk, mad scientist-core for the paranoid and suspicious.
      </p>
      <p>
      <LinkNewTab {...gentsbandcamp} /><br />
      Pacific Northwest garage-punk rock'n'roll.
      </p>
      <figure>
        <iframe
          src="https://www.youtube-nocookie.com/embed/07ncTiDz4lQ"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        >
        </iframe>
      </figure>
    </article>
  </section>
</Layout>

<style>
  figure {
    margin: 2rem;
    text-align: center;
  }
  iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
  }
</style>
