---
import Layout from '../layouts/Layout.astro'
import LinkNewTab from '../components/astro/LinkNewTab.astro'
import VideoPlayer from '../components/astro/VideoPlayer.astro'
import { mediaLinks } from '../data/mediaLinks'

const { theanxietiesbandcamp, gentsbandcamp, recreationspdx } = mediaLinks

const videos = [
    { id: '07ncTiDz4lQ', title: 'The Anxieties - Blank Stares' },
    {
        id: '144g4wT--Qo',
        title: 'Lexxi Vexx & the Modern Gentlemen - Big Shiny Bomb',
    },
    {
        id: '7tett8B5_7g',
        title: "Imperative Therapy Video: For What It's Worth",
    },
]
---

<Layout includeHeading subtitle="Media">
    <section id="media">
        <article class="gradient-container">
            <p>
                I've been playing in bands since I was 16 years old. Originally
                cutting my teeth in the Nashville music scene, I eventually
                moved to Portland, OR and have been rocking the punk scene here
                since 2013. You can check out some of my projects here:
            </p>
            <p>
                <span class="role"
                    ><LinkNewTab {...theanxietiesbandcamp} /></span
                ><br />
                Garage rockin' punk, mad scientist-core for the paranoid and suspicious.
            </p>
            <p>
                <span class="role"><LinkNewTab {...gentsbandcamp} /></span><br
                />
                Pacific Northwest garage-punk rock'n'roll.
            </p>
            <p>
                <span class="role"><LinkNewTab {...recreationspdx} /></span><br
                />
                Boozey & Saucy PDX Americana.
            </p>
            <VideoPlayer videos={videos} />
        </article>
    </section>
</Layout>

<style>
    figure {
        margin: 2rem;
        text-align: center;
    }
    iframe {
        width: 100%;
        aspect-ratio: 16 / 9;
    }
</style>
